<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Crypto App {% endblock title %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
        <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://coingecko.com">
                    <img src="/static/images/coingecko.png" alt="coingecko logo" width="35">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu" class="navbar-start">
            
                <a class="navbar-item" href="{% url 'home' %}">
                    Home
                </a>

                <a class="navbar-item" href="{% url 'coin_new' %}">
                    Add Coins
                </a>

                <a class="navbar-item" href={% url 'coin_user_list' %}>
                    Portfolio
                </a> 
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'signup' %}">
                            <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}</p>
                <p><a href="{% url 'logout' %}">Log out</p></a>
            {% else %}
                <p>You are not logged in</p>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>